body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 1px;
}

.title {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
  font-size: 16px;

}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding: 15px 7px;
}


.button-container {
  background: #e3f4ff;
  margin: 8px;
  padding-bottom: 5px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  width: 150px;  
  height: 35px;
  margin-left:auto;
  margin-right: auto;
}